/* src/components/Header.css */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #041936; /* dark gray */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.358);
  z-index: 1000;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-left: 0; /* ensures extreme left */
}

.profilepic{
  width: 35px;        /* adjust size */
  height: 35px;       /* adjust size */
  object-fit: contain; /* preserve aspect ratio */
  margin-right: 25px; /* spacing between image and text */
  border-radius: 4px;
  margin-left: 0;/* optional: rounded edges */
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2.0rem;
  font-weight: bold;
  margin-right: 104px;
  margin-left: 0;
  color: white;
}

.nav-links{
  margin-left: 54px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: #3b82f6; /* blue hover */
}

.button{
  margin-left: 100px;
  background-color: #f10707;
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 10px 10px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 16px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s;
}
